
[Unit]
Description=Istio Prometheus Dashboard
After=network.target

[Service]
ExecStart=istioctl dashboard prometheus
Restart=always
User=ubuntu
Environment=HOME=/home/ubuntu

[Install]
WantedBy=multi-user.target
